---
- name: create group
  group:
    name: www-data
    system: yes

- name: create user
  user:
    name: www-data
    group: www-data
    system: yes
    createhome: no
    home: "{{ caddy_home_dir }}"
    shell: /sbin/nologin

- name: create directories
  file:
    state: directory
    path: "{{ item }}"
    owner: www-data
    group: www-data
    mode: 0750
  with_items:
    - "{{ caddy_home_dir }}"
    - "/etc/caddy"
    - "/etc/ssl/caddy"

- name: determine installed caddy version
  shell: "caddy version | awk '{ print $1 }' || true"
  register: caddy_version_output

- name: set caddy_installed_version fact
  set_fact: caddy_installed_version="{{caddy_version_output.stdout}}"

- name: install caddy
  shell: |
    mkdir -p /tmp/caddy-{{ caddy_version }}
    cd /tmp/caddy-{{ caddy_version }}
    curl -fsSL -o caddy 'https://caddyserver.com/api/download?os=linux&arch=amd64'
    install -m 0755 caddy /usr/local/bin/caddy
    setcap 'cap_net_bind_service=+ep' /usr/local/bin/caddy
  args:
    warn: false
  when: caddy_installed_version != caddy_version
  notify: restart caddy

- name: install caddyfile
  template:
    src: Caddyfile
    dest: /etc/caddy/Caddyfile
    owner: www-data
    group: www-data
  notify: reload caddy

- name: install caddy.service
  copy:
    src: caddy.service
    dest: /etc/systemd/system/caddy.service
  notify: restart caddy

- name: enable caddy.service
  systemd:
    name: caddy
    enabled: true
    state: started

- name: clean up old binaries
  shell: |
    rm -f /usr/local/bin/caddy-*
  tags: ['never', 'clean-up-old-binaries']
