[Unit]
Description=Prometheus Alertmanager
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure

User=prometheus
Group=prometheus

WorkingDirectory=/var/lib/prometheus

ExecStart=/usr/local/bin/alertmanager --config.file /etc/prometheus/alertmanager.yml --web.listen-address "127.0.0.1:9093" --cluster.listen-address "127.0.0.1:9094" --web.external-url "{{ alertmanager_web_external_url }}"

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
